*{
	background:#1CB643;
}
p{
	font-size:20px;
}
h1,h2{
	background:green;
	text-align:center;
}

img{
	margin:100px;
	  width: 500px; height: 350px;
}

footer p{
	clear:both;
	padding:10px;
	background:#958A7A;
	text-align:center;
	font-size:20px;
}

